<button mat-raised-button color="primary" (click)="openDialogoNuevoRecurso()">Nuevo Recurso</button>

<br />

<div fxFlex="100%" fxFlexFill>
    <!-- <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field> -->
    
    <table mat-table [dataSource]="dataRecursos" class="mat-elevation-z8">
    
    <!-- Position Column -->
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>
    
    <!-- Name Column -->
    <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef> Titulo </th>
        <td mat-cell *matCellDef="let element"> {{element.title}} </td>
    </ng-container>
    
    <!-- Weight Column -->
    <ng-container matColumnDef="autor">
        <th mat-header-cell *matHeaderCellDef> Autor </th>
        <td mat-cell *matCellDef="let element"> {{element.autor}} </td>
    </ng-container>
    
    <!-- Symbol Column -->
    <ng-container matColumnDef="anyo">
        <th mat-header-cell *matHeaderCellDef> Año </th>
        <td mat-cell *matCellDef="let element"> {{element.anyo}} </td>
    </ng-container>
    
    <!-- Symbol Column -->
    <ng-container matColumnDef="content">
        <th mat-header-cell *matHeaderCellDef> Contenido </th>
        <td mat-cell *matCellDef="let element"> {{element.content}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="free">
        <th mat-header-cell *matHeaderCellDef> Disponible </th>
        <td mat-cell *matCellDef="let element"> {{element.free}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="category">
        <th mat-header-cell *matHeaderCellDef> Categoria </th>
        <td mat-cell *matCellDef="let element"> {{element.category.name}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef> Tipo </th>
        <td mat-cell *matCellDef="let element"> {{element.type.name}} </td>
    </ng-container>

    <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef> Acciones </th>
        <td mat-cell *matCellDef="let element">
            <button mat-raised-button color="primary" *ngIf="isAdmin()" (click)="openDialogoEliminarRecurso()">Eliminar</button>
            <button mat-raised-button color="primary" *ngIf="isAdmin()" (click)="openDialogoEditarRecurso()">Editar</button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>