<div fxLayout="column" fFlexFill>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Título" [(ngModel)]="recurso.title">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <textarea matInput placeholder="autor" [(ngModel)]="recurso.autor"></textarea>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <textarea matInput placeholder="año publicacion" [(ngModel)]="recurso.anyo"></textarea>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <textarea matInput placeholder="Contenido" [(ngModel)]="recurso.content"></textarea>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <textarea matInput placeholder="tipo" [(ngModel)]="recurso.typeId"></textarea>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <textarea matInput placeholder="categoria" [(ngModel)]="recurso.categoryId"></textarea>
  </mat-form-field>

  <button mat-raised-button color="primary" (click)="saveRecurso()">Guardar nota</button>
</div>
