<app-header></app-header>
<div class="container">
 <router-outlet></router-outlet>
</div>

<mat-form-field>
  <input matInput placeholder="Input"[(ngModel)]="title">
</mat-form-field>
<mat-form-field>
  <input matInput placeholder="Input"[(ngModel)]="autor">
</mat-form-field>
<mat-form-field>
  <input matInput placeholder="Input"[(ngModel)]="anyo">
</mat-form-field>
<mat-form-field>
  <input matInput placeholder="Input"[(ngModel)]="cotent">
</mat-form-field>
<mat-form-field>
  <input matInput placeholder="Input"[(ngModel)]="typeId">
</mat-form-field>
<mat-form-field>
  <input matInput placeholder="Input"[(ngModel)]="categoryId">
</mat-form-field>

<button mat-raised-button color="primary" (click)="addRecurso()">Guardar</button>
